<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('ALRMX')" data-ng-class="{active: currency.symbol == 'ALRMX'}">ALRMX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mALRMX')" data-ng-class="{active: currency.symbol == 'mALRMX'}">mALRMX</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uALRMX')" data-ng-class="{active: currency.symbol == 'uALRMX'}">uALRMX</a>
  </li>
</ul>

